/.metadata/
/bin/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.class

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

BoardGameProject/.metadata/.lock
BoardGameProject/.metadata/.log
BoardGameProject/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
*.version
*.index
*.tree
*.resources
*.xmi
BoardGameProject/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
BoardGameProject/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.txt
BoardGameProject/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
*.xml
*.ser
BoardGameProject/bin/src/test/java/com/ics499/team4/BoardGameProjectApplicationTests.class
*.class
*.log
BoardGameProject/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
BoardGameProject/.metadata/.plugins/org.jboss.tools.usage/events/central-showOnStartup-N%2FA
BoardGameProject/.metadata/.plugins/org.jboss.tools.usage/events/eeb18b4f-68f5-303e-b4c6-ccedfab5f7b1
BoardGameProject/.metadata/.plugins/org.jboss.tools.usage/events/jbt-installed-HIBERNATE
*.ini
*.class
BoardGameProject/target/classes/META-INF/MANIFEST.MF
BoardGameProject/target/classes/META-INF/maven/com.example/BoardGameProject/pom.properties
